<div class="centered-content">
  <div class="project-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Project List
      </h1>

      <div class="project-menu">
        <a class="project-menu-item" *ngFor="let project of projects" (click)="onProjectClick(project.id)" [routerLink]="['/dashboard', project.id]" routerLinkActive="is-active">
          <p>{{ project.title }}</p>
        </a>

      </div>

      <button class="button is-primary has-text-white" routerLink="/new-project">+ New Project</button>

    </div>

    <div class="project-details-container has-background-light">
      <div class="top-bar">
        <h1 class="title has-text-primary">
          Project details
        </h1>
      </div>  
      <div class="project-details">
        <a class="project-details-item" *ngFor="let project of temp" [routerLink]="['/dashboard/' + selectedProjectId]" routerLinkActive="is-active">
          <div>
            Title: {{ project.title }} <br> 
            Expiration: {{ project.expiration }} <br>
            Description: {{ project.description }} <br> 
            Attachment: {{ project.attachment }} <br>
          </div>
        </a> 
      </div>
    </div>

    <div class="project-detail-container has-background-light">
      <div *ngIf="projects">
        <div class="top-bar">
          <div *ngIf="selectedProjectId"> 
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span class="icon is-small">
                    <i class="fas fa-cog" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <a [routerLink]="['/edit-project/' + selectedProjectId]" class="dropdown-item">
                    Edit
                  </a>
                  <a (click)="onDeleteProjectClick(selectedProjectId)" class="dropdown-item has-text-danger">
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div *ngIf="selectedProjectId">
        <button class="button is-primary has-text-white" [routerLink]="['/dashboard/' + selectedProjectId + '/stories']">Stories</button>
      </div>

    </div>
  </div>
</div>

    
