<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Edit project
      </h1>
  
      <input #listTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter project name..." value="{{ project.title }}">
      <input #listExpirationInput class="input has-background-light is-medium" type="text" placeholder="Enter expiration date..." value="{{project.expiration}}">
      <input #listDescriptionInput class="input has-background-light is-medium" type="text" placeholder="Enter description..." value="{{project.description}}">
      <input #listAttachmentInput class="input has-background-light is-medium" type="text" placeholder="Enter attachment..." value="{{project.attachment}}">

      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" [routerLink]="['/dashboard/' + projectId]">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="updateProject(listTitleInput.value, listExpirationInput.value, listDescriptionInput.value, listAttachmentInput.value)">Save</button>
      </div>
  
      
    </div>
  </div>